body{
	color: #3C3C3B;
}
.parrafo1{
	text-align: justify;
	font-size: 18px;
	font-weight: lighter;
	padding: 5% 0;
}
.foto1{
	height: 50%;
	width: 50%;
}
.noticia{
	text-align: center;
	font-size: 22px;
	font-weight: bold;
}
.img-nota{
	background-size: 100%;
	height: 400px;
	background-repeat: no-repeat;
}
.nota0{
	background-image: url(../img/noticias/6.jpg);
	background-position: 0 90%;
}
.nota1{
	background-image: url(../img/noticias/7.jpg);
		background-position: 0 50%;
}
.nota2{
	background-image: url(../img/noticias/8.webp);
}
.nota3{
	background-image: url(../img/noticias/3.jpg);
}
.nota4{
	background-image: url(../img/noticias/2.jpg);
	background-position: 0 30%;
}